.app-header {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(86, 149, 221);
}

.title {
  display: flex;
  align-content: flex-start;
}