.font {
  font-size: 15px;
  color: rgb(199, 218, 240);
}

.title {
  display: flex;
  align-content: flex-start;
}

.link {
  text-decoration: none;
  cursor: pointer;
  padding-right: 30px;
  color: aliceblue;
  
}